<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<configSections>
		<section name="imapSettings" type="StockAccounting.EmailBot.Models.IMAPSettings, StockAccounting.EmailBot" />
		<section name="smtpSettings" type="StockAccounting.EmailBot.Models.SMTPSettings, StockAccounting.EmailBot" />
	</configSections>
	
	<imapSettings host="imap.gmail.com" 
				  port="993" 
				  email="sendemail683@gmail.com" 
				  password="idvwujcditdzndcc"
				  commands="List;list"/>  <!-- Semicolon is the separator between commands. After last command there shouldn't be any semicolons or symbols. -->

	<smtpSettings host="smtp.gmail.com" 
				  port="587" 
				  email="sendemail683@gmail.com" 
				  password="idvwujcditdzndcc"
				  enableSsl="true"
				  isBodyHtml="true" />
		
	<connectionStrings>
		<add name="Default" connectionString="Server=.\SQLEXPRESS;Initial Catalog=StockAccounting;Trusted_Connection=True;TrustServerCertificate=True;Encrypt=False" />
	</connectionStrings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>

</configuration>