<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<configSections>
		<section name="imapSettings" type="StockAccounting.EmailBot.Models.IMAPSettings, StockAccounting.EmailBot" />
		<section name="smtpSettings" type="StockAccounting.EmailBot.Models.SMTPSettings, StockAccounting.EmailBot" />
		<section name="oAuth2Credentials" type="StockAccounting.EmailBot.Models.OAuth2Credentials, StockAccounting.Emailbot" />
	</configSections>
	
	<imapSettings host="outlook.office365.com" 
				  port="993" 
				  email="123@daytongroup.lv" 
				  password=""
				  commands="List;list"/>  <!-- Semicolon is the separator between commands. After last command there shouldn't be any semicolons or symbols. -->
	
	<smtpSettings host="smtp-mail.outlook.com" 
				  port="587" 
				  email="123@daytongroup.lv" 
				  password=""
				  enableSsl="true"
				  isBodyHtml="true" />
	
	<oAuth2Credentials clientId=""
					   tenantId=""
					   secret="" />
	
	<connectionStrings>
		<add name="Default" connectionString="Server=BSP;Initial Catalog=StockAccounting;TrustServerCertificate=True;MultipleActiveResultSets=true;" />
	</connectionStrings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>

</configuration>