@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="~/Admin/assets/vendor/apexcharts/styles.css" />
</head>

<body>
    <div id="wrapper">
        <div class="content-area">
                <div class="main">
                    <div class="row sparkboxes mt-4 mb-4">
                        <div class="col-md-4">
                            <div class="box box1">
                                <div id="spark1"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box2">
                                <div id="spark2"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box3">
                                <div id="spark3"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5 mb-4">
                        <div class="col-md-6">
                            <div class="box">
                                <div id="bar"></div>
                            </div>
                        </div>
                    <div class="col-md-6">
                            <div style="height: 100%;" class="box">
                                <div id="donut"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4 mb-4">
                        <div class="col-md-6">
                            <div class="box">
                                <div id="area"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box">
                                <div id="line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>

@section Scripts {
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
}