<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString"
			 connectionString="Server=BSP;TrustServerCertificate=True;MultipleActiveResultSets=true;"/>
		<add name="dbString"
			 connectionString="Server=BSP;Initial Catalog=StockAccounting;TrustServerCertificate=True;MultipleActiveResultSets=true;"/>
	</connectionStrings>
</configuration>

