<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString"
			 connectionString="Server=.\SQLEXPRESS;Trusted_Connection=True;TrustServerCertificate=True;Encrypt=False"/>
		<add name="dbString"
			 connectionString="Server=.\SQLEXPRESS;Initial Catalog=StockAccounting;Trusted_Connection=True;TrustServerCertificate=True;Encrypt=False"/>
	</connectionStrings>
</configuration>
