@model ScannedDataViewModel
@{
    var pageId = "1";
    if (Context.Request.Query.TryGetValue("pageId", out var pageIdValue))
    {
        pageId = pageIdValue;
    }
}

<div id="editScannedDataModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="UpdateScannedData" asp-controller="ScannedData" data-ajax-method="POST" data-ajax="true" data-ajax-complete="scannedDataModalComplete" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title">Edit scanned data</h5>
                </div>
                <div class="modal-body" id="scannedDataModalDetails">
                    <input type="hidden" name="Id" class="form-control" id="id" value="@Model.Id" />
                    <input type="hidden" name="InventoryDataId" class="form-control" id="inventoryDataId" value="@Model.InventoryDataId" />
                    <input type="hidden" name="PageId" class="form-control" id="pageId" value="@pageId" />
                    <div class="form-group">
                        <label asp-for="ExternalDataId" class="control-label"><b>Stock</b></label>
                        <select id="externalDataId" name="UpdateExternalData" asp-for="ExternalDataId" class="form-control" style="width: 100%;">
                            <option value="0" selected="selected">-Choose-</option>
                        </select>
                        <span asp-validation-for="ExternalDataId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"><b>Quantity</b></label>
                        <input asp-for="Quantity" name="UpdateQuantity" class="form-control" type="number" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="btnSubmit" type="submit" value="Submit" class="btn btn-primary" />
                    <button id="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
