@model DocumentDataViewModel

<div id="deleteDocumentDataModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Document document</h5>
            </div>
            <div class="modal-body" id="DocumentDataModalDetails">
                <input type="hidden" name="Id" class="form-control" id="id" value="@Model.Id"/>
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button id="btnYes" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <button id="btnNo" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
